<!DOCTYPE html><html><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><title>Vue App</title><link href=/public/css/about.1374ab2c.css rel=prefetch><link href=/public/js/about.dba27a30.js rel=prefetch><link href=/public/css/app.aaf30346.css rel=preload as=style><link href=/public/css/chunk-vendors.82b099b5.css rel=preload as=style><link href=/public/js/app.d0a73c81.js rel=preload as=script><link href=/public/js/chunk-vendors.bda2031b.js rel=preload as=script><link href=/public/css/chunk-vendors.82b099b5.css rel=stylesheet><link href=/public/css/app.aaf30346.css rel=stylesheet></head><body><div id=app></div><script src=/public/js/chunk-vendors.bda2031b.js></script><script src=/public/js/app.d0a73c81.js></script></body></html>